/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Shrikhand", serif;
}

main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 5px;
    color: #26262A;
}

.carosello {
    width: 80%;
    height: 90%;
    padding: 10px 10px 0 10px;
    border: 1px solid black;
    border-radius: 20px;
    /* debug */
    /* background-color: blue; */
}

.immagini {
    height: 90%;
    /* debug */
    /* background-color: aquamarine; */
}

img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    display: none;
}

.immagini .active {
    display: block;
}

.bottoni {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    line-height: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

#sx {
    margin-right: 5px;
}

#dx {
    margin-left: 5px;
}

button:hover {
    background-color: black;
    color: white
}